@import '../style.scss';
.LeftBar{
@include themify($themes){
    flex:2;
    position: sticky;
    top:70px;
    height:calc(100vh - 70px);
    overflow: scroll;
    background-color: themed('bg');
    color:themed('textcolor');
    padding: 10px;
    
    &::-webkit-scrollbar{
        display:none;
    }

hr{
    margin:10px 0px;
    border:none;
    height:0.5px;
    background-color: themed('border');
}
       
    .Container{
        
        
       
        .items{
            display:flex;
            flex-direction: column;
            justify-items: left;
            gap:7px;

            .Menu{
                display: flex;
                align-items: center;
                gap:10px;
                
                img{
                    height:25px;
                    width:25px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span{
                }
            }
            .user{
                display:flex;
                align-items: center;
                gap:10px;
                img{
                    height: 25px;
                    width: 25px;
                    border-radius:50%;
                    object-fit: cover;
                    background-position: center;
    
                }
                span{
                    justify-self: left;
                }
            }
        }
    }
    }
}